:root {
  --primary-font-family: Roboto, sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logo-text-color: #000000;
  --secodary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --hero-background-color: #2f303a;
  --button-accent-color: #188ce8;
  --border-color-header: #ececec;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --background-color-backdrop: rgba(0, 0, 0, 0.2);
  --background-color-card: rgba(47, 48, 58, 0.8);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font-family);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-family: var(--primary-font-family);
  font-size: 16px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  text-align: center;
}

.button.button-primary {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.button-primary:hover, .button.button-primary:focus {
  background-color: var(--button-accent-color);
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__name {
  color: var(--accent-color);
}

.title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color-backdrop);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  padding: 40px 40px;
  background-color: var(--white-color);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  cursor: pointer;
  padding: 0;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.contact-form-field {
  display: block;
}

.contact-form-field:not(:last-of-type) {
  margin-bottom: 10px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-input-container {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message::placeholder {
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-checkbox-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
}

.contact-form-checkbox-label::before {
  display: inline-block;
  content: '';
  background-image: url(../images/vector-2.svg);
  width: 16px;
  height: 15px;
  margin-right: 7px;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  outline: 1px solid var(--accent-color);
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-color: var(--accent-color);
  border-radius: 2px;
  background-image: url(../images/vector-1.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.contact-form-checkbox-link {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.site-nav .link.current {
  padding-bottom: 0;
  color: var(--accent-color);
  position: relative;
}

.site-nav .link.current::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-top: 29px;
}

.site-nav {
  display: flex;
  margin-left: 95px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact__item + .contact__item {
  margin-left: 50px;
}

.contact__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .link:hover .contact__icon,
.contact .link:focus .contact__icon {
  fill: currentColor;
}

.contact .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .link:hover, .contact .link:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-background-color);
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.benefist-list {
  display: flex;
}

.benefits-item {
  width: 270px;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-item-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-item-icon {
  width: 70px;
  height: 70px;
}

.benefits-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--title-text-color);
}

.description {
  line-height: 1.71;
}

.practice {
  padding-top: 0;
}

.practice__list {
  display: flex;
}

.practice__list-item:not(:last-child) {
  margin-right: 30px;
}

.wrapper-practice {
  position: relative;
}

.wrapper-practice__title {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--background-color-card);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-team {
  padding-bottom: 94px;
  background-color: var(--secodary-background-color);
}

.section-team-list {
  display: flex;
}

.container-foto {
  background-color: var(--white-color);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 0px 0px 4px 4px;
}

.name-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.post {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team-item:not(:last-child) {
  margin-right: 30px;
}

.team-social-list {
  margin-top: 16px;
}

.team-social-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--white-color);
}

.client-list {
  display: flex;
  justify-content: center;
}

.cliet-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border: 1px solid var(--accent-color);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-name {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button.button-secondary {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.63;
  color: var(--title-text-color);
  background-color: var(--secodary-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.button-secondary:hover, .button.button-secondary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.button-secondary:active {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-item-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  overflow: hidden;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-link:hover .overlay,
.project-item-link:focus .overlay {
  transform: translateY(0%);
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--white-color);
}

.project-item .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item .link:hover, .project-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-nav {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  padding: 0;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer-contact .location {
  color: var(--white-color);
}

.footer-contact .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact .link:hover, .footer-contact .link:focus {
  color: var(--accent-color);
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact-mail,
.footer-contact-phone {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-box {
  width: 206px;
  margin-left: 70px;
}

.footer-subscribe {
  display: block;
  margin-left: auto;
}

.footer-social-wrapper {
  display: flex;
}

.footer-subscribe-input {
  width: 358px;
  height: 50px;
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 12px;
  padding: 15px 16px;
  color: var(--white-color);
}

.footer-subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
}

.footer-send-icon {
  align-content: center;
  margin-left: 10px;
}

.footer-subscribe .button-primary {
  padding: 10px 28px;
  display: flex;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */